@-webkit-keyframes card {
  0% {
    background-color: #0D4048;
  }
  30% {
    background-color: #26C1D9;
  }
  100% {
    background-color: #26C1D9;
  }
}
@keyframes card {
  0% {
    background-color: #0D4048;
  }
  30% {
    background-color: #26C1D9;
  }
  100% {
    background-color: #26C1D9;
  }
}
html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

h2 {
  color: #072038;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  color: #072038;
  flex: none;
  order: 1;
  flex-grow: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  gap: 8px;
  border-radius: 30px;
  align-items: center;
  color: #072038;
  width: auto;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  transition: 500ms ease-in-out;
}

.btn i {
  display: none;
}

.btn:hover {
  margin: 40px;
}
.btn:hover i {
  display: block;
}

.btn-orange {
  background-color: #FD7762;
  border: #FD7762 1px solid;
}

.btn-cyan {
  background-color: #26C1D9;
  border: 1px solid #26C1D9;
}

.btn-circle {
  width: 40px;
  text-align: center;
  height: 40px;
  border-radius: 30px;
  display: table;
  border: 1px solid #072038;
  cursor: pointer;
}

.btn-white {
  border-color: white;
}

.btn-circle i {
  color: #072038;
  display: table-cell;
  vertical-align: middle;
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container .header .top {
  background-color: #F7FAFB;
  height: 35px;
  top: 0;
  padding-top: 13px;
}
.container .header .top p {
  text-align: center;
  margin: auto;
}
.container .header .top p a {
  color: #26C1D9;
  font-weight: bold;
}
.container .header .top-light {
  display: none;
}
.container .header .top-light:hover {
  background-color: #F0FDFF;
}
.container .header .nav {
  height: 65px;
  padding-top: 0px;
  margin: 0;
  background: linear-gradient(89.16deg, #072038 1.27%, #0A355F 99.82%);
  width: 100%;
  z-index: -9999;
}
.container .header .nav__menu {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container .header .nav__menu ul {
  margin: auto 0;
}
.container .header .nav__menu ul li {
  color: white;
  display: inline;
  margin: 15px;
  cursor: pointer;
  padding: 5px;
  height: 40px;
  border-radius: 10px;
}
.container .header .nav__menu ul li a {
  color: white;
  font-weight: bold;
}
.container .header .nav__menu ul li a i {
  margin: 5px auto auto 5px;
}
.container .header .nav__menu ul li:hover {
  background-color: #072038;
}
.container .header .nav__menu .buttons {
  float: right;
  display: table;
}
.container .header .nav__menu .buttons .btn {
  display: table-cell;
  margin: 15px 15px auto auto;
  text-align: center;
  vertical-align: middle;
}
.container .header .nav__menu .buttons p {
  color: #26C1D9;
  font-weight: bold;
  display: table-cell;
  text-align: center;
  margin-left: 15px;
  margin-top: 30px;
  vertical-align: middle;
}
.container .header .nav__menu .buttons p i {
  color: #26C1D9;
  margin-left: 10px;
}
.container .header .nav .nav__cards {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  background-color: white;
  z-index: 9999;
}
.container .header .nav .nav__cards__card {
  flex: 1;
  display: block;
  margin: 10px;
}
.container .header .nav .nav__cards__card span {
  color: red;
}
.container .header .nav .nav__cards__card span i {
  color: #FD7762;
  display: none;
  margin-right: 20px;
}
.container .header .nav .nav__cards__card p {
  color: #0D4048;
}
.container .header .nav-item .nav__menu ul li {
  color: #072038;
}
.container .header .nav-item .nav__menu ul li a {
  color: #072038;
}
.container .header #nav1,
.container .header #nav2 {
  background: white;
  z-index: 99999;
  margin-bottom: 10px;
  height: auto;
  text-align: left;
  display: none;
  transition: 500ms ease-in-out;
}
.container .header #nav1 .nav__menu ul li:hover,
.container .header #nav2 .nav__menu ul li:hover {
  background-color: #F0FDFF;
}
.container .content section {
  background-color: white;
  position: relative;
}
.container .content section .hero {
  background: linear-gradient(89.16deg, #072038 1.27%, #0A355F 99.82%);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: none;
}
.container .content section .hero__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 90%;
  margin: auto;
}
.container .content section .hero__main__block {
  text-align: left;
  padding-bottom: 50px;
  padding-left: 0;
  color: white;
  margin: auto;
  flex: 1;
}
.container .content section .hero__main__block h1 {
  font-weight: 600;
  font-size: 72px;
}
.container .content section .hero__main__block h1 span {
  color: #26C1D9;
}
.container .content section .hero__main__block p {
  font-family: "Porpora";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #072038;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  color: white;
  width: 50%;
  text-align: left;
  margin: 20px auto 35px 0;
}
.container .content section .hero__main__block .images {
  margin: 40px auto;
}
.container .content section .hero__main__block .images img {
  width: 120px;
  height: auto;
  margin: auto 10px 0 0;
}
.container .content section .hero__main__block .image {
  width: 500px;
  margin: auto;
}
.container .content section .hero__text {
  width: 100%;
  font-weight: 900;
  transform: rotate(-2deg);
  font-size: 7em;
  word-spacing: 0.3em;
}
.container .content section .hero__text span {
  color: #26C1D9;
  font-weight: 900;
}
.container .content section .hero__text strong {
  color: #072038;
  font-weight: 900;
}
.container .content section .hero img {
  margin: 10px 0 -5px 0;
}
.container .content section .about {
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  padding-bottom: 300px;
}
.container .content section .about__item {
  flex: 1;
  display: block;
  text-align: left;
}
.container .content section .about__item h2 {
  width: 439px;
  height: 120px;
  font-weight: 500;
  font-size: 60px;
  line-height: 60px;
}
.container .content section .about__item p {
  width: 519px;
  height: 384px;
  /* paragraphe/text-regular */
  font-family: "Porpora";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.container .content section .about .parallax {
  position: absolute;
  right: 10px;
  top: 90px;
}
.container .content section .about .parallax img {
  margin: auto;
  width: 120px;
}
.container .content section .blue {
  background: linear-gradient(89.16deg, #072038 1.27%, #0A355F 99.82%);
  height: auto;
  width: 100%;
  position: relative;
  padding-bottom: 0px;
}
.container .content section .blue__image {
  position: absolute;
  width: 1062px;
  height: 423px;
  margin: auto;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -210px;
  background: url("public/img/computer-screen-data-score-analyst.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container .content section .blue h2 {
  height: 60px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 0;
  padding-top: 350px;
  margin: auto;
  width: auto;
  align-self: stretch;
  flex-grow: 0;
}
.container .content section .blue h2 span {
  color: #26C1D9;
}
.container .content section .blue__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 90%;
  height: 784px;
  background: #FFFFFF;
  border-radius: 25px;
  flex: none;
  order: 1;
  margin: 60px auto;
  align-self: stretch;
  flex-grow: 0;
}
.container .content section .blue__item__box {
  width: 603px;
  height: 757px;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: left;
}
.container .content section .blue__item__box .box-title {
  display: table;
}
.container .content section .blue__item__box .box-title i {
  color: #FD7762;
  font-size: 3em;
  display: table-cell;
}
.container .content section .blue__item__box .box-title h2 {
  width: 384px;
  height: 58px;
  color: #072038;
  flex: none;
  margin: 10px;
  padding-top: 10px;
}
.container .content section .blue__item__box p {
  width: 80%;
  margin: auto 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.container .content section .blue__item__box .infos {
  display: block;
}
.container .content section .blue__item__box .infos__info {
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  display: inline-flex;
}
.container .content section .blue__item__box .infos__info .icon {
  width: 30px;
  text-align: center;
  display: table;
  height: 30px;
  background-color: #F0FDFF;
}
.container .content section .blue__item__box .infos__info .icon i {
  color: #0D4048;
  display: table-cell;
  vertical-align: middle;
}
.container .content section .blue__item__box .infos__info p {
  margin: auto 50px;
}
.container .content section .blue__item .box-center {
  display: block;
}
.container .content section .blue__item .box-bg {
  background: url(public/img/Datafactory6@2x.png);
}
.container .content section .blue__item .box-left {
  padding-left: 100px;
}
.container .content section .blue .blue__bottom img {
  margin-bottom: -10px;
}
.container .content section .testimonials {
  margin: 20px auto;
}
.container .content section .testimonials h2 {
  text-align: center;
}
.container .content section .testimonials h2 span {
  font-size: 0.8em;
  font-weight: 400;
}
.container .content section .testimonials__slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  isolation: isolate;
  width: 80%;
  height: 500px;
  background: #072038;
  border-radius: 25px;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  z-index: 2;
  margin: auto;
}
.container .content section .testimonials__slider .slide {
  flex: 1;
  display: block;
  color: white;
  background-color: #072038;
  height: 100%;
  overflow: hidden;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  text-align: left;
}
.container .content section .testimonials__slider .slide img {
  width: 150px;
  margin: 40px auto;
}
.container .content section .testimonials__slider .slide .testimony__author {
  color: #26C1D9;
  font-size: 1.1em;
}
.container .content section .testimonials__slider .slide .description {
  width: auto;
  padding-right: 10px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  color: #FFFFFF;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
.container .content section .testimonials__slider .slide .buttons {
  width: 90px;
  margin: 40px auto auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container .content section .testimonials__slider .slide .buttons .btn-circle {
  border-color: white;
}
.container .content section .testimonials__slider .slide .buttons .btn-circle i {
  color: white;
}
.container .content section .testimonials__slider .video {
  padding-top: 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  height: 100%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: url("public/img/Casclient-Exki.jpeg");
}
.container .content section .blog {
  text-align: center;
  margin: 60px auto;
}
.container .content section .blog p {
  font-family: "Porpora";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #072038;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  width: 60%;
  margin: auto;
}
.container .content section .blog .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin: 40px auto;
}
.container .content section .blog .cards__card {
  border-radius: 5px;
  border: 1px solid #072038;
  margin: 10px;
  cursor: pointer;
  flex: 1;
  text-align: left;
  padding-left: 15px;
  padding-top: 30px;
  padding-bottom: 50px;
}
.container .content section .blog .cards__card .category {
  width: 100px;
  height: 20px;
  color: #26C1D9;
  border: 1px solid #26C1D9;
}
.container .content section .blog .cards__card .extract {
  text-align: left;
  margin: 60px auto auto 0;
  width: 90%;
}
.container .content section .blog .cards__card .extract-bold {
  font-weight: 600;
  margin: 30px auto auto 0;
}
.container .content section .blog .cards__card .more {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 60px auto auto 0;
  width: 90%;
}
.container .content section .blog .cards__card .more img {
  border-radius: 30px;
  width: 50px;
  height: 50px;
}
.container .content section .blog .cards__card .more .blog-author {
  color: #072038;
  font-weight: 500;
  width: 60%;
  margin: 5px auto auto 5px;
}
.container .content section .blog .cards__card .more .btn-circle {
  margin-top: 5px;
}
.container .content section .blog .cards__card .more .btn-circle:hover {
  background-color: #F0FDFF;
  border: 1px solid #F0FDFF;
}
.container .content section .blog .cards__card .more .btn-circle:hover i {
  color: #072038;
}
.container .content section .blog .cards__card:hover {
  transition-timing-function: ease-in-out;
  -webkit-animation-name: card;
  animation-name: card;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  background-color: #26C1D9;
}
.container .content section .demo {
  width: 80%;
  margin: auto;
  height: auto;
  background: url("public/img/cta-illustation-corporate.png");
  background-position: left;
  background-repeat: no-repeat;
  background-color: #072038;
  background-size: auto;
}
.container .content section .demo__text {
  width: 80%;
}
.container .content section .demo__text h3 {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  color: #26C1D9;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.container .content section .demo__text p {
  width: 592px;
  height: 80px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  color: #FFFFFF;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.container .footer {
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 120px;
  text-align: center;
}
.container .footer__up {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container .footer__up__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container .footer__up__item h4 {
  color: #156B79;
}
.container .footer__up__item .links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px auto auto 0;
  text-align: left;
}
.container .footer__up__item .links a, .container .footer__up__item .links span {
  color: #26C1D9;
  margin: auto 0;
}
.container .footer__bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 78px;
  width: 100%;
  height: 60px;
  margin: 60px auto 0 auto;
  padding-top: 40px;
  background: #F7FAFB;
}
.container .footer__bottom ul {
  margin: 10px auto auto 30px;
}
.container .footer__bottom ul li {
  display: inline;
  margin: auto;
}
.container .footer__bottom p {
  margin: 10px 0px auto auto;
}
.container .footer__bottom p span {
  font-weight: bold;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .container h2 {
    font-size: 30px;
  }
  .container .content section .about {
    width: 90%;
  }
  .container .content section .about {
    width: 90%;
  }
  .container .content section .testimonials__slider .slide .description {
    width: 400px;
  }
  .container .content section .blog {
    width: 90%;
  }
  .container .content section .blog .cards {
    width: 100%;
  }
  .container .content section .demo {
    width: 90%;
    height: 800px;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container .content section .about {
    width: 90%;
  }
  .container .content section .testimonials h2 {
    font-size: 2.1em;
  }
  .container .content section .testimonials__slider {
    height: 400px;
    width: 90%;
  }
  .container .content section .testimonials__slider .slide {
    padding-top: 5px;
  }
  .container .content section .testimonials__slider .slide img {
    margin: 10px auto;
  }
  .container .content section .testimonials__slider .slide .description {
    font-size: 1.5em;
  }
  .container .content section .testimonials__slider .slide .buttons {
    margin: 20px auto auto 0;
  }
  .container .content section .blog {
    margin: 40px auto;
  }
  .container .content section .blog p {
    width: 80%;
  }
  .container .content section .blog .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .container .content section .blog .cards__card .category {
    padding-top: 15px;
  }
  .container .content section .blog .cards__card .extract {
    margin: 30px auto;
  }
}/*# sourceMappingURL=style.css.map */